h1 {
    color: red;
}
p {
    color: rgb(0, 255, 60);
}
button {
    color: orange;
    background-color: green;
}
body {
    background-color: cornflowerblue;
}
#headingone{
    color:blue;
}
#headingtwo{
    color:pink;
}
.sameclass{
    color:yellow;
}
div > p{
    color: black;
    background-color: yellowgreen;
}
* {
    margin: 0;
    padding: 0;
}
a:link{
    color: red;
}
a:visited{
    color: green;
}
a:active{
    background-color: orangered;
}
a:hover{
    background-color: cyan;
}
*{
    margin: 0;
    padding: 0;
}
.box{
    background-color: rgb(83, 113, 113);
}
.box1{
    color:magenta;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    height: 50px;
    box-sizing: border-box;
}
.box2{
    color: burlywood;
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 4;
}
